src/Testing/TestData/Cipher-Schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ciphers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Cipher">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Ciphertext" type="xs:string" />
              <xs:element name="Key" type="xs:string" />
              <xs:element name="Plaintext" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>